<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route frontName="hellogeorgia2" id="hellogeorgia2">
            <module name="Pixelpro_HelloGeorgia2"/>
        </route>
    </router>
</config>